venv_dir="$HOME/.venvs/datek-app-utils"

if [ -d "${venv_dir}" ]; then
    echo "Virtualenv exists."
    venv_existed=1
else
    echo "Creating virtualenv."
    venv_existed=0
    python3.8 -m venv "${venv_dir}"
fi

source "${venv_dir}/bin/activate"

[ "${venv_existed}" = 0 ] && poetry install

unset PS1